# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# System files
.DS_Store

# Python egg files
*.egg-info/
.eggs/

# IDE/editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Others
*.bak
